@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

.cart {
    width: 50%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navi{
    width: 100%;
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
    
}

.menu_left {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.menu_left li {
    margin-right: 25px;
    
}

.menu_left a {
    text-decoration: none;
    color: #363636;
    font-weight: bold;
}

.menu_left img {
    width: 124px;
}

.menu_right {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 25px;
}

.menu_right li {
    margin-right: 25px;
}

.menu_right a {
    text-decoration: none;
    color: #363636;
}

.menu_right svg {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease; /* Add transition effect on hover */
}



/* Dropdown menu styles */
.drop-menu {
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.drop-menu ul {
    display: block;
    margin: 10px;
}

.drop-menu ul li {
    width: 150px;
    padding: 10px;
}

.menu_left li:hover .drop-menu {
    display: block;
}

.menu_left li a {
    position: relative;
    text-decoration: none;
    color: #363636;
    font-weight: bold;
    transition: color 0.3s ease; /* Add transition effect on color change */
}

.menu_left li a:hover {
    color: #d9cfcf; /* Change the color on hover */
}

.menu_left li:not(.logo) a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #000; /* Set the color of the underline */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Initially set the scale to 0 for the transition effect */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Add transition effect on scale change */
}

.menu_left li:not(.logo) a:hover::after {
    transform: scaleX(1); /* Increase the scale on hover */
    transform-origin: bottom left;
}

.logo{
    margin-left: -20px;
}



