.product-list {
    margin-top: 20px; /* ปรับช่องสินค้าลงมา 20px */
  }
 
  .product-item img{
    margin-left: 20px;
    width: 40% !important;
  }

  .product-list {
    display: flex;
    flex-direction: row; /* แบ่งเป็นครึ่งหน้าแนวนอน */
  }
  
  .product-item {
    display: flex; /* เรียงลำดับรูปภาพและข้อมูลให้เรียงติดกันในแนวนอน */
    align-items: center; /* จัดให้รูปภาพและข้อมูลสินค้าอยู่กลางตามแนวตั้ง */
  }

  .product-item .info {
    flex: 1; /* ให้ข้อมูลสินค้าเต็มพื้นที่ */
    margin-left: 90px;
    align-self: flex-start;
    padding-top: 50px;
    text-align: left;
}

.product-item .info p{
  text-align: left;
}

.product-item .info Button{
  margin-top: 200px;
}
  
  

  
    