/* Add these styles to your existing product.css */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 147%;
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.menu_left {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu_left li {
    margin-right: 20px;
}

.menu_left a {
    text-decoration: none;
    color: #363636;
    font-weight: bold;
}

.menu_left img {
    width: 124px;
}

.menu_right {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu_right li {
    margin-right: 15px;
}

.menu_right a {
    text-decoration: none;
    color: #363636;
}

.menu_right svg {
    width: 24px;
    height: 24px;
    fill: #363636;
    transition: fill 0.3s ease; /* Add transition effect on hover */
}

.menu_right a:hover svg {
    fill: #000; /* Change the color on hover */
}

/* Dropdown menu styles */
.drop-menu {
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.drop-menu ul {
    display: block;
    margin: 10px;
}

.drop-menu ul li {
    width: 150px;
    padding: 10px;
}

.menu_left li:hover .drop-menu {
    display: block;
}
