.product-list{
    width: 100%;
}
.product-list img {
    max-width: 170px; /* กำหนดความกว้างสูงสุดของรูปภาพ */
    max-height: 170px; /* กำหนดความสูงสูงสุดของรูปภาพ */
}
.product-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* ให้รายการสินค้าขึ้นแถวใหม่เมื่อความกว้างไม่เพียงพอ */
    justify-content: space-between; /* จัดวางสินค้าให้อยู่ระหว่างเส้นแนวตั้ง */
}

.product-list li {
    flex-basis: calc(25% - 20px); /* ให้แสดงผลสินค้า 3 ชิ้นต่อแถว */
    margin-bottom: 20px; /* เพิ่มระยะห่างล่างสินค้า */
    background-color: #f9f9f9; /* เพิ่มสีพื้นหลังของสินค้า */
    padding: 10px; /* เพิ่มเส้นขอบของสินค้า */
    box-sizing: border-box; /* ให้ขนาดสินค้าคำนวณจากขอบภายใน */
}



